@font-face {
    font-family: 'Linux Biolinum';
    src: url('Fonts/linbiolinum_rah-webfont.woff2') format('woff2'),
         url('Fonts/linbiolinum_rah-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Linux Biolinum';
    src: url('Fonts/linbiolinum_rbah-webfont.woff2') format('woff2'),
         url('Fonts/linbiolinum_rbah-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Linux Biolinum';
    src: url('Fonts/linbiolinum_riah-webfont.woff2') format('woff2'),
         url('Fonts/linbiolinum_riah-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}